body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.loginform {
    position: fixed;
    top: 80px;
    right: 80px;
    background-color:white;
}
.loginform p{
    font-size: 12px;
}
#email,#password{
    width: 100%;
    padding: 10px 20px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#submit {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    width: 100px;
}


.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

